.ChatDisplay {
  height: 75vh;
  background: #e6dfdc;
  opacity: 0.5;
  margin: 0;
  padding: 20px;
  overflow-y: scroll;
  border: 0;
}
.MessageForm {
  height: 8vh;
  padding: 0 0;
}
.SendButton {
  background: linear-gradient(#0ba360, #3cba92);
  padding: 7px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  color: white;
  font-size: 1.6em;
  float: right;
  margin-right: 20px;
}
.MessageInputsRow {
  background-color: #ebebeb;
  width: 104%;
  height: 100%;
  margin: 0;
  z-index: 2;
  float: left;
}
#MessageText {
  background: #ebebeb;
  height: 69px;
  border: 0;
}
#BtnCol {
  margin-top: 14px;
  padding-left: 0;
  position: relative;
}
.ChatTopBar {
  height: 10.6vh;
  background: #f7f9fa;
  border-bottom: 0.66px solid #ebebeb;
  display: inline;
}
.ChatTitle {
  font-family: "Quantico";
  padding: 20px;
  font-size: 30px;
}
.ChatUserName {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 70px;
  color: grey;
}

.sent:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #e1f7c9;
  border-right: 10px solid transparent;
  border-top: 10px solid #e1f7c9;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 10px;
}
.received:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 10px;
}
.box {
  max-width: 66%;
  margin: 15px auto;
  padding: 20px;
  font-weight: 900;
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  border-radius: 6px;
}
