.LeftBlock {
  background: linear-gradient(#3cba92, #0ba360);
  filter: blur(5);
}
.logo {
  font-family: "Caesar Dressing";
  color: white;
  font-size: 2em;
  margin: 4% 25% 0% 25%;
}
.RightBlock {
  background-color: #fff;
}
.CenterBlock {
  background-color: #f7f9fa;
}
.action-button {
  width: 60%;
  margin: 5% 0% 2.5% 20%;
  border-radius: 100%;
  background-color: #219269;
  color: white;
}
.row:first-child {
  height: 100vh;
}
i {
  float: left;
  margin-top: 3%;
}
