.LeftBlock {
  background: linear-gradient(#3cba92, #0ba360);
  filter: blur(5);
  height: 95vh;
}
.logo {
  font-family: "Caesar Dressing";
  color: white;
  font-size: 2em;
  margin: 4% 25% 0% 25%;
}
.RightBlock {
  background-color: #fff;
}
.CenterBlock {
  background-color: #f7f9fa;
}
.action-button {
  width: 60%;
  margin: 5% 0% 2.5% 20%;
  border-radius: 100%;
  background-color: #219269;
  color: white;
}
.Dashboard.row:first-child {
  height: 100vh;
}
i {
  float: left;
  margin-top: 3%;
}
.UserForm {
  width: 80%;
  margin-left: 10%;
  margin-top: 11%;
}
.UserNameInput {
  width: 90%;
  text-align: center;
}
.UserBtn {
  margin: 30px 0 0 32%;
  width: 13vw;
  height: 4vh;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3cba92),
    to(#0ba360)
  );
  background: -webkit-linear-gradient(#3cba92, #0ba360);
  background: -o-linear-gradient(#3cba92, #0ba360);
  background: linear-gradient(#3cba92, #0ba360);
  color: #fff;
}
#Breather {
  height: 30vh;
  margin-left: 29%;
  margin-top: 12%;
}
#BeforeChat {
  align-content: center;
}
.Nostras {
  width: 50%;
  height: auto;
}
.NostHolder {
  padding: 0 25% 0 25%;
}
.Nostitle {
  font-family: "Caesar Dressing";
  font-size: 20px;
}
.floss {
  font-family: "Caesar Dressing", sans-serif;
}
.credits {
  font-family: sans-serif;
}
em {
  color: red;
}
.BigThankYou{
  font-size: 45px;
}